/*****************************************************
 * PROJECT : SquidTchat
 * AUTHOR  : W.Sanquer
 * DATE    : 2026
 *****************************************************/

/* ===================================================
    Les reglages de la page
   =================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    height: 100%;          
    width: 100%;           
    overflow: hidden;       
    background-color: #2a2f55;
    font-family: sans-serif;
}

.pages {
    display: flex;
    height: 100vh;
    width: 100vw;
}


/* ===================================================
    Zone des conversations
   =================================================== */
.conversations {
    width: 320px;           
    background-color: #636dbe;
    height: 100%;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    border-top-right-radius: 45px;    
    border-bottom-right-radius: 45px;
}

.conv-header {
    display: flex;
    gap: 15px;              
    margin-bottom: 40px; 
    justify-content: flex-end;
    padding-right: 10px; 
}

.container-btn-f, .container-btn-add {
    width: 55px;         
    height: 55px;
    background-color: #76d18b;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-f {
    color: #636dbe;
    font-size: 24px;
    font-weight: bold;
}

.btn-add {
    width: 25px;         
    height: auto;
}

.conv-liste {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}


/* ===================================================
    Zone de droite (Logo et Message d'accueil)
   =================================================== */

.main-content {
    flex: 1;        
    display: flex;
    justify-content: center; 
    align-items: center;
}

.attente {
    text-align: center;
}

.attente img {
    height: 300px;      
    width: auto;
    margin-bottom: 30px;
}

.attente p {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.9;
}

.messages {
    display: none;
}